<head>
    <link rel="stylesheet" href="/public/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<header class="flex justify-between bg-[#09100C] text-[#75E69C] text-xl">
    <h1 class="font-julius bg-[#152B1E] p-6">EcoTrack</h1>
    <nav class="w-4/6 min-w-[624px] text-center">
        <ul class="flex justify-end font-indie">
            <li class="py-6 hover:bg-gradient-to-b hover:from-[#152B1E] hover:cursor-pointer w-1/6 hover:border hover:border-[#152b1e] hover:text-[#cbf0d8]" onclick="window.location.href='/'">Home</li>
            <li class="py-6 hover:bg-gradient-to-b hover:from-[#152B1E] hover:cursor-pointer w-1/6 hover:border hover:border-[#152b1e] hover:text-[#cbf0d8]" onclick="window.location.href='/'">Tasks</li>
            <li class="py-6 hover:bg-gradient-to-b hover:from-[#152B1E] hover:cursor-pointer w-1/6 hover:border hover:border-[#152b1e] hover:text-[#cbf0d8]" onclick="window.location.href='/'">Leaderboard</li>
            <li class="py-6 hover:bg-gradient-to-b hover:from-[#152B1E] hover:cursor-pointer w-1/6 hover:border hover:border-[#152b1e] hover:text-[#cbf0d8]" onclick="window.location.href='/'">Profile</li>
            <li class="py-6 hover:bg-gradient-to-b hover:from-[#152B1E] hover:cursor-pointer w-1/6 hover:border hover:border-[#152b1e] hover:text-[#cbf0d8]" onclick="window.location.href='/'">Logout</li>
        </ul>
    </nav>
</header>