<head>
    <link rel="stylesheet" href="/public/css/output.css">
</head>
<header>
    <h1>Welcome to My Website</h1>
    <nav class="bg-red-500">
        <ul>
            <li>Home</li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>