<head>
    <link rel="stylesheet" href="/public/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<header class="flex justify-between bg-[#09100C] text-[#75E69C] text-xl">
    <h1 class=" font-julius bg-[#152B1E] p-6">EcoTrack</h1>
    <nav>
        <ul class="flex justify-end font-indie">
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Home</a></li>
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Dashboard</a></li>
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Tasks</a></li>
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Leaderboard</a></li>
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Profile</a></li>
            <li class="p-6 hover:bg-[#152B1E]"><a href="/">Logout</a></li>
        </ul>
    </nav>
</header>