<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Home</title>
</head>

<body class="flex flex-col min-h-screen bg-[#001812] pt-[76px]">
    <%- include('../partials/navbar') %>

        <div class="flex-grow">
            <%- body %>
        </div>

        <footer class="text-green-500 text-center bg-[#09100C] py-4">
            <p>&copy; 2024 EcoTrack. All rights reserved.</p>
        </footer>
</body>

</html>