<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Home</title>
</head>

<body class="bg-[#001812] pt-[76px]">
    <%- include('../partials/navbar') %>
        <%- body %>

            <footer class="text-green-500 text-center bg-[#09100C] bottom-0">
                <p>&copy; 2024 My Website. All rights reserved.</p>
            </footer>
</body>

</html>