<% layout('layouts/boilerplate') %>
<div class="container text-green-300">
    <div>
        <h1 class="page-header">Home Page</h1>
    </div>
    <img src="/images/tree.png" class="w-[400px]">
</div>