<%- include('../partials/head') %>
    <title>Home</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <h2>Welcome to the Home Page</h2>
            <p>This is the content of the home page.</p>
    </body>
    <%- include('../partials/footer') %>

        </html>