<% layout('layouts/boilerplate') %>

<div class="mt-16 space-y-4 mb-0 text-center">
    <h2 class="font-julius text-6xl text-[#75E69C]">Do you know?</h2>
    <p class="text-6xl text-teal-200">Dark themes also help reduce carbon footprint!</p>
    <div class="mt-4">
        <button class="py-3 px-6 bg-[#53c484] text-[#152b1e] font-julius text-xl rounded-full hover:bg-[#053d1d] hover:text-[#53c484] mx-auto">Learn How</button>
    </div>
</div>

<div class=" mt-0 flex text-green-300 justify-around items-center h-screen ">
    
    <div class="w-[400px] h-[400px] bg-[#152B1E]">
        
    </div>
    <img src="/images/tree.png" class="w-[400px]">
    
</div>
