<% layout('layouts/boilerplate') %>
<div class="flex text-green-300 justify-around items-center h-screen">
    <div class="w-[400px] h-[400px] bg-[#152B1E]">
    </div>
    <img src="/images/tree.png" class="w-[400px]">
</div>