<% layout('layouts/boilerplate') %>
    <div>
        <h2 class="mt-16 text-center font-julius text-6xl text-[#75E69C]">Leaderboard</h2>

        <div class="mt-8 w-4/6 min-w-[624px] mx-auto">
            <h3 class="text-2xl font-julius text-[#75E69C] border-b-2 border-[#75E69C] pb-2">Top Users</h3>
            <ul class="mt-4 space-y-4 text-teal-200" id="leaderboard">
                <!-- Leaderboard data will be injected here by the JavaScript -->
            </ul>
        </div>
    </div>
    <script src="/js/leaderboard.js"></script>