<% layout('layouts/boilerplate') %>

    <div class="min-h-screen flex items-center justify-center bg-[#001812] text-green-300">
        <div class="max-w-md w-full p-8 bg-green-900 rounded-lg shadow-md">
            <h1 class="text-3xl font-julius text-[#75E69C] mb-6 text-center">Create a new account</h1>
            <form action="/user/register" method="post">
                <div class="mb-4">
                    <label for="username" class="block text-sm font-julius text-teal-200 mb-2">Username</label>
                    <input name="username" id="username" type="text" required
                        class="shadow appearance-none border border-[#53c484] rounded w-full py-2 px-3 bg-green-700 text-[#001812] leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-julius text-teal-200 mb-2">Password</label>
                    <input name="password" id="password" type="password" required
                        class="shadow appearance-none border border-[#53c484] rounded w-full py-2 px-3 bg-green-700 text-[#001812] leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex items-center justify-between mb-6">
                    <button type="submit"
                        class="bg-[#53c484] hover:bg-[#053d1d] text-[#152b1e] hover:text-[#53c484] font-julius font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
                </div>
            </form>
            <div class="text-center">
                <h3 class="text-sm font-julius text-teal-200">Existing User?</h3>
                <a href="/user/login" class="text-[#53c484] hover:text-teal-200">Login</a>
            </div>
        </div>
    </div>