<% layout('layouts/boilerplate') %>
    <h1>Create a new account</h1>
    <form action="/user/register" method="post">
        <div>
            <label for="username">Username</label>
            <input name="username" id="username" type="text"> <br>
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
        </div>
        <br>
        <button>Register</button>
    </form>